@charset "UTF-8";
/* CSS Document */

#titulo {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 10px;
  top: 0px;
  width: 340px;
  height: 150px;
  z-index: 2;
}
#boton1 {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 369px;
    top: 54px;
    width: 100px;
    height: 50px;
    z-index: 10;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
#boton2 {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 489px;
    top: 54px;
    width: 100px;
    height: 50px;
    z-index: 11;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: bold;
}
#boton3 {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 609px;
    top: 54px;
    width: 100px;
    height: 50px;
    z-index: 12;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: small;
}
#boton4 {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 729px;
    top: 54px;
    width: 100px;
    height: 50px;
    z-index: 13;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
#boton5 {
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 849px;
    top: 54px;
    width: 100px;
    height: 50px;
    z-index: 14;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
#galeria {
    background-color: rgba(0,0,0,1.00);
    position: absolute;
    left: 10px;
    top: 150px;
    width: 941px;
    height: 500px;
    z-index: 15;
}
#Texto1_conocenos {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 50px;
    top: 670px;
    width: 600px;
    height: 160px;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    vertical-align: 10px;
}
#boton6_conocemas {
    position: absolute;
    left: 670px;
    top: 690px;
    width: 220px;
    height: 120px;
    z-index: 17;
    background-color: #000000;
}
#escuela_fondo {
  background-color: rgb(227, 227, 227);
  position: absolute;
  left: 11px;
  top: 850px;
  width: 940px;
  height: 180px;
  z-index: 20;
}
#grupo2_div {
    background-color: rgb(26, 26, 26);
    position: absolute;
    left: 241px;
    top: 52px;
    width: 220px;
    height: 440px;
    z-index: 23;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
}

#grupo3_div {
    background-color: rgb(26, 26, 26);
    position: absolute;
    left: 480px;
    top: 52px;
    width: 220px;
    height: 440px;
    z-index: 24;
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
}
#grupo4_div {
    background-color: rgb(26, 26, 26);
    position: absolute;
    left: 721px;
    top: 52px;
    width: 220px;
    height: 440px;
    z-index: 25;
    color: #FEFEFE;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
}
#fundadora {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 11px;
  top: 1730px;
  width: 500px;
  height: 500px;
  z-index: 27;
}
#fundadora2 {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 511px;
  top: 1730px;
  width: 440px;
  height: 500px;
  z-index: 28;
}
#profesores {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 11px;
  top: 2230px;
  width: 940px;
  height: 700px;
}

#profe2_div2 {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 371px;
  top: 2410px;
  width: 220px;
  height: 277px;
  z-index: 28;
}
#ubicacion_div {
    position: absolute;
    left: 10px;
    top: 2930px;
    width: 940px;
    height: 1500px;
    z-index: 3;
    background-image: url(Img/fondo_ubicacion.jpg);
}
#Opiniones {
    background-color: rgb(227, 227, 227);
    position: absolute;
    left: 10px;
    top: 4430px;
    width: 940px;
    height: 470px;
    z-index: 2;
}
#contacto {
    position: absolute;
    left: 10px;
    top: 4900px;
    width: 940px;
    height: 900px;
    z-index: 4;
    background-image: url(Img/fondo_contacto.jpg);
}
